[submodule "crawler"]
	path = crawler
	url = git@github.com:HarbingerZou/crawler.git
[submodule "ds-services"]
	path = ds-services
	url = git@github.com:HarbingerZou/ds-services.git
[submodule "data-persistence"]
	path = data-persistence
	url = https://github.com/HarbingerZou/data-persistence.git
